<link rel="stylesheet" href="{{ 'custom-header.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }  

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<head>
  <link rel="stylesheet" type="text/css" href="ruta/a/tu/estilo.css">
</head>
<body>
  <div>
    <div class="section-{{ section.id }}-padding">
      <header class="custom-header">
        <nav class="custom-desktop-nav">
          <ul>
            <li>
              <a href="/"> INICIO </a>
            </li>
            <li>
              <a href="/tienda"> TIENDA </a>
            </li>
            <li>
              <a href="/contacto"> CONTACTO </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/ateliercasadepan"
                target="_blank"
              >
                INSTAGRAM
              </a>
            </li>
          </ul>
        </nav>
        <div class="burger-box">
          <a style="burger-icon" />
        </div>
        <div>Empty cart</div>
        <a href="/" class="logo">
          <div>logo</div>
        </a>
      </header>
    </div>
  </div>
</body>



{% comment %}
  <div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="section-{{ section.id }}-padding">
      {{ section.settings.custom_liquid }}
    </div>
  </div>
{% endcomment %}

{% comment %}
  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
    {%- if settings.logo != blank -%}
      <div class="header__heading-logo-wrapper">
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'header__heading-logo motion-reduce',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      </div>
    {%- else -%}
      <span class="h2">{{ shop.name }}</span>
    {%- endif -%}
  </a>
{% endcomment %}

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
